.filter-container {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding: 10px;
    flex-wrap: wrap;
}

.filter-container input,
.filter-container select {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.filter-container input {
    width: 200px;
}

.filter-container select {
    width: 150px;
}
